:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent-color: #ee9b00;
    --text-color: #001219;
    --background-color: #e9d8a6;
}
/* INIZIO */
.table-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  gap: 10px;
    height: 1.5rem;
}

.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 15rem;
  overflow-y: auto;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label:hover {
    background-color: var(--secondary-color);
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;

}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

/* FINE */
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    text-align: center;
    padding: 0.1rem;
    background-color: var(--primary-color);
    color: white;
}

#logo {
    height: 4.5rem;
}

header.line {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    /*flex-grow: 1;*/
    width: 100%;
}

.resizer {
    background-color: var(--primary-color);
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}

#map-container {
    width: 90%;
}

#map {
    width: 100%;
    height: 100%;
}

/* Link */
.link {
    color: var(--background-color);
}

.link:visited {
    color: var(--accent-color);
}

/* contenuto laterale */
#controls {
    /*width: 75%;
    /*border-left: 2px solid var(--secondary-color);*/
    flex-grow: 1;
    padding: 0rem;

    display: flex;
    flex-direction: column;

}

.line>input[type="text"],
.line>input[type="number"] {
    width: 60%;
    margin: 0.5rem 0;
}

#buttons {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

#buttons>button {
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

#buttons>button:hover {
    background-color: var(--secondary-color);

}

/* tabella elementi */
table,
tr {
    width: 100%;
}

tr td:first-child {
    width: auto;
}

.btn-col {
    text-align: right;
}

.square-color {
    display: inline-block;
    width: 10px;
    height: 10px;
}

span>.fa-sharp {
    margin: 3px;
    cursor: pointer;
    color: var(--primary-color);
}

span>.fa-sharp:hover {
    color: var(--secondary-color);
}

/* FORM a POPUP */
#inputs {
    display: none;
    position: fixed;
    top: 20%;
    right: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0px;
}

/*label {
    margin-right: 5px;
}*/

#cell-form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-btn {
    margin-left: 10%;
    margin-top: 10px;
    width: 35%;
    height: 25px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.table-element >*:not(:first-child) {
  flex-shrink: 0;
}
.table-element >*:first-child {
  text-align: end;
  padding-left: 10px;
}